body{
  display: flex;
  justify-content: space-around;
  background-color: darkcyan
}

.todo-app {
  display: grid;
  width: 500px;
  height:300px;
  background-color: bisque;
  font-family: sans-serif;
  margin-top: 200px;
  grid-template-columns: 100px auto 100px
}

/** add todo **/
.add-todo {
  grid-column-start: 2
}

/** todo list **/
.todo-list {
  grid-column-start: 2;
  text-align:center;
  overflow: auto;
}

/** todo item **/
.todo-item {
  font-family: monospace;
  cursor: pointer;
  line-height: 1.5;
  grid-column-start: 2
}
.todo-item__text--completed {
  text-decoration: line-through;
  color: lightgray;
  grid-column-start: 2
}

/** visibility filters **/
.filter {
  padding: 0.3rem 0;
  margin: 0 0.3rem;
  cursor: pointer;
  grid-column-start: 2
}
.filter--active {
  border-bottom: 1px solid black;
  grid-column-start: 2
}

.todo-title{
  text-align: center;
  grid-column-start: 2
}

.todo-adicionar{
  align-content: center;
  grid-column-start: 2
}

.visibility-filters{
  text-align: center;
  grid-column-start: 2
}